    /** The column identifier for the {@link #$field} field. */
    public static final String $capfield = "$field";

    /** The qualified column identifier for the {@link #$field} field. */
    public static final ColumnExp ${capfield}_C =
        new ColumnExp(${record}.class, $capfield);
