#
# $Id: user.properties.dist,v 1.1 2003/11/15 22:55:32 mdb Exp $
#
# Configuration parameters for the Two Due web appication

#
# These are standard configurations that you probably don't want to change

login_url = /register/login.wm?from=%R
access_denied_url = access_denied.wm

#
# The name of the auth cookie

auth_cookie.name = id_
