body { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

th, td, center, div { /* ns 4 */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

pre {
  font-family: Courier;
  font-size: 12pt
}

.big { font-size: 16pt }
.small { font-size: 10pt }
