body { 
  font-family: Arial, Helvetica, sans-serif;
}

i, em {
  font-style: italic;
}

th, td, center, div { /* ns 4 */
  font-family: Arial, Helvetica, sans-serif;
}

pre, code {
  font-family: Courier;
}

.big {
  font-size: x-large;
}

.small {
  font-size: small;
}
